
API_PORT=6090

MONGO_URI = "mongodb://root:example@172.20.0.2:27017/shop?authSource=admin"
JWT_KEY=''
TOKEN_KEY="initial value"

email_key="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"

OLD_SITE_URL="https://admin.sharifoilco.com"
SEPIDAR_URL="http://5.202.84.184:7373"
SEPIDAR_HEADER=`{
	"GenerationVersion": "101", 
	"IntegrationID": "1003", 
	"ArbitraryCode": "9846f015-d722-45c2-be3c-79aa2f7b6828", 
	"EncArbitraryCode": "fzOJVVpXVI715wr+NcZRyb2Pag1NV4Vl1DpA82IfbQLDOQ4daRYM/5TYU2zL4ImF4CZFP3T9iACLvEeqOyqlVg==", 
	"Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYwLCJwaWQiOm51bGwsInV2ZXIiOjUsImR1cGlkIjoxNiwiZHVwdmVyIjoxfQ.cjey8N4O-LapXJZYDSdUFjCKxKPmUFRVRlted-AyWc4"
}`

StockId="21"
SaleType="4"
TaxRate=".10"


SMS_API='484B4A79716C556D6F425669754F74636C6F425A416A32736142496A517952753546586D72377A616935383D'
kaveNegarUrl= 'https://api.kavenegar.com/v1/',
template='logins'
accessControl='accessControl'
regOrder='regOrder'
acceptOrder='AcceptMGM'
acceptFactory='ّFactoryAccept'
cancelOrder='CancelOrder'
sendOrder='sendMGM'