:root {
  --main-color: #002a54;
  --main-dark: rgb(48, 127, 226);
}
.main-pad {
  padding-bottom: 50px;
  width: 100%;
}
.showPass {
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 5px;
}
.storeSelect{
  color:rgb(97, 12, 176)
}
.showPassRTL {
  position: absolute;
  left: 20px;
  cursor: pointer;
  top: 5px;
}

.input-group div {
  width: 100%;
}
.MuiInputBase-root {
  padding: 0 !important;
  min-height: 40px;
}
.MuiInputBase-root input {
  padding: 8px 14px !important;
  font-family: vazir !important;
}
.MuiAutocomplete-popper {
  z-index: 200000 !important;
}
.MuiAutocomplete-popper div {
  font-family: vazir !important;
}
.price-input .MuiFormControl-root {
  width: 100%;
}
.MuiFormControl-root label {
  line-height: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: vazir;
  font-size: 1rem;
  overflow: initial;
  background: #fff;
  padding: 0 6px;
}
.filterComponent {
  min-width: 200px;
}
.DatePicker input {
  padding: 7px 0 !important;
}
::-webkit-scrollbar {
  width: 10px;
}
.holder {
  display: flex;
}
.collapseMenu {
  margin: auto 20px auto -20px;
}
.sidePart {
  display: block;
}
.mainPart {
  display: block;
}
@media (max-width: 700px) {
  .hideMobile {
    display: none !important;
  }
}

/*Overide*/
.statue-div div {
  margin: 0 8px;
}
.page-counter {
  direction: ltr;
}
.cu-name p {
  text-align: initial;
}
.user-list th:nth-child(2) {
  text-align: initial;
}
.user-list img {
  max-width: 100px;
}
.cu-avatar img {
  margin: auto 8px;
  margin-right: 0;
}
.dense-btn {
  width: unset;
}
.sub-more-menu {
  display: inherit;
}
.formInput {
  margin: 15px !important;
}
.footerFix {
  position: fixed;
  bottom: 0;
}
.text-white .nav-link {
  color: #fff !important;
}

.activeAccordion {
  background-color: azure;
}
.accordion {
  cursor: pointer;
  position: relative;
}
.inlineRow {
  flex-direction: row;
  justify-content: initial;
}
.icon-lg i {
  top: 20%;
}
.me-2 {
  margin: auto 0.5rem !important;
}
.ps__rtl {
  direction: rtl;
}
.ps-4 {
  padding-right: 1.5rem !important;
}
.ms-2 {
  margin-right: 0.5rem !important;
}
.me-3 {
  margin-left: 1rem !important;
}
.DatePicker__input {
  font-size: 15px !important;
  border: 1px solid silver !important;
  border-radius: 4px;
}
.list-container {
  overflow: initial;
}
.-top {
  top: calc(100% + 20px) !important;
  bottom: auto !important;
}
.ms-md-right {
  margin-right: auto !important;
}
.checkBoxStyle {
  text-align: center !important;
}
.sub-avatar-container img {
  margin: 0 16px;
  height: 50px;
  object-fit: contain;
}
.cu-avatar {
  position: relative;
}
.cu-avatar i {
  position: absolute;
  right: 0;
  top: 0;
}
.user-statue {
  gap: 0 40px;
  flex-wrap: wrap;
}
.info-post {
  display: flex;
  justify-content: space-around;
}
.info-box {
  width: 100%;
  margin-bottom: 20px;
}

.checkIcon {
  color: green;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.cancelIcon {
  color: orangered;
}
.checkIcon:hover {
  background-color: green;
  color: #fff;
}
.cancelIcon:hover {
  background-color: orangered;
}
.cu-info-wrapper img {
  margin-left: 16px;
}
.sub-order-table {
  background-color: #f4f6f8;
  padding: 10px;
}
.sub-row {
  margin-bottom: 3px;
  background-color: #fff;
  border-radius: 10px;
}
.disableIcon {
  color: silver;
}
.errorHandler {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255);
  padding: 30px 100px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 1rem;
  border: 1px solid black;
}
.add-btn {
  color: #333;
  background-color: lightgreen;
}
.add-btn:hover {
  border-color: green;
  background-color: green;
  color: #fff;
}
.serviceItem {
  padding: 0.5rem 0;
  width: 100%;
  margin-top: 20px;
}
.serviceItem .MuiFormControl-root {
  width: 90%;
  margin-block: 10px;
  padding-left: 1rem;
}
.popup-brand {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 5px 10px;
  margin: auto;
}

dialog {
  position: fixed;
  border-radius: 0;
  display: block;
  top: 0;
  height: 100%;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.manageIcon {
  position: absolute;
  left: 10%;
  top: 10px;
  border: 1px solid silver;
  width: 30px;
  height: 40px;
  text-align: center;
  line-height: 2.5;
  border-radius: 3px;
}
.manageIconLtr {
  left: auto;
  right: 6%;
}
.manageIcon:hover {
  border-color: #333;
}
.price-input {
  position: relative;
}
.price-input .showPassRTL,
.price-input .showPass {
  top: 17px;
}
.sale-input input {
  margin: auto 5px;
}
.create-btn-wrapper p {
  width: 17%;
}
.halfWidth {
  width: 41%;
}
.fullWidth {
  width: 95%;
}
.regular-price i,
.sale-price i,
.tax-active-wrapper i {
  position: absolute;
  left: 15px;
  top: 25px;
  z-index: 10;
}

.cu-avatar img {
  height: 50px;
  object-fit: cover;
}
.contentTextEditor {
  padding-top: 50px;
  width: 100%;
}
.images {
  position: relative;
}
.images img {
  position: absolute;
  left: 10px;
  top: 50px;
  width: calc(100% - 300px);
  max-height: 200px;
  object-fit: contain;
}
.imageHolder {
  width: 100%;
  margin-right: 30px;
}
.phone-num {
  direction: ltr;
}

.sampleScroller {
  width: 200px;
  height: 300px;
  overflow-y: auto;
}

.boxTrack {
  left: 2px;
  right: auto;
  opacity: 0;
  position: absolute;
  width: 6px;
  transition: opacity 200ms ease 0s;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
}
.boxThumb {
  background-color: #fff;
  border-radius: 4px;
}
.box {
  position: absolute;
  inset: 0px;
  overflow: scroll;
  margin-left: -19px;
  margin-bottom: -19px;
  padding: 15;
}
.topMenu .nav-link {
  font-size: 1.2rem;
  padding: 0 7px !important;
}
.topMenu .nav-link i:hover {
  color: var(--bs-primary);
  transition: all 0.3s;
}

/* Profile */
.profileRtl th {
  text-align: right;
}
.section-member {
  padding-right: 0;
}
.asso-btnRTL {
  margin-left: 10px;
  margin-right: auto;
}
.slideBar {
  width: 45%;
  display: flex;
  margin: 0 10%;
  min-width: 200px;
}
.slideBarTitle {
  margin-top: -40px;
  font-size: 12px;
}
.disable-label {
  background: silver;
}
.settingSide {
  top: 70px !important;
}
.info-wrapper div:nth-child(9) {
  width: initial;
}
.new-member {
  position: relative;
  width: fit-content;
  display: flex;
}
.addClassBtn {
  padding: 7px 12px;
  display: grid;
}
.addClassBtn:hover {
  color: rgb(89, 108, 255);
  cursor: pointer;
}
.main-setting {
  width: 100%;
}
.optionItem {
  display: flex;
  justify-content: space-around;
}
.userItem {
  padding: 0.5rem 0;
  width: 100%;
  margin-top: 20px;
}
.userItem .MuiAutocomplete-root {
  width: 85% !important;
}
.newUser {
  width: 300px;
  margin-bottom: 20px;
}
.f-customer input {
  font-size: 15px;
}
/*.f-customer{
  position: relative;
  padding-left: 50px !important;
  padding-top: 8px;
}*/
.f-customer .MuiFormControl-root label {
  background: transparent;
}
.f-customer fieldset {
  border: transparent;
}
.view-btn-wrapper label {
  font-size: inherit;
  margin: auto;
}
.imageHandler {
  width: 50%;
}
.product-title p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 210px;
  margin: auto;
  font-weight: 400;
}

.product-img img {
  height: 120px;
  object-fit: contain;
}

.f-company {
  width: 100%;
  padding: 0.35rem 0.3rem;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
  background: var(--light-grey);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
  color: black;
  outline: none;
  border: none;
}
.f-company .MuiFormControl-root label {
  background: transparent;
}
.f-company fieldset {
  border: transparent;
}

.active-star {
  color: rgb(158, 0, 0) !important;
}
.roader img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.user-item {
  display: grid;
  color: #111;
}
.user-item small {
  font-size: 13px;
}
.user-item b {
  font-size: 14px;
}
.reyhamCard .card-header {
  display: flex;
  justify-content: space-between;
}
.reyhamCard .card-header .btn {
  margin-bottom: 0;
}
.reyhamCard .card .sharif-order-main table {
  color: #111 !important;
}
.p450 {
  /* width: 450px !important; */
}
.add-card-btn {
  min-width: 68%;
  width: auto;
  min-height: 40px;
}
.cancel-card-btn {
  width: 30%;
}
.card-btn-holder {
  display: flex;
  justify-content: space-between;
}

.card-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.userInput {
  width: 48%;
  margin-bottom: 15px !important;
}
.fullRow {
  width: 100%;
}
.userInput label {
  background-color: transparent;
}
.imageUser {
  width: 100%;
}
.imageUserField {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.form-field-image {
  width: 30%;
}
.media-input {
  display: grid;
  text-align: center;
}
.media-input label {
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 3px;
  margin: 3px 0;
  text-align: center;
  color: #fff;
}
.media-input img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
.media-input input {
  display: none;
}

.card .sharif-order-main .admin-table-sec tr td {
  display: table-cell;
  grid-area: inherit;
}
.card .sharif-order-main .admin-table-sec tr {
  grid-template-rows: repeat(3, 1fr);
}
.card .sharif-order-main .admin-table-sec p {
  width: auto;
  font-size: 13px;
  order: inherit;
  margin-bottom: 5px;
}
.product-table-btn input {
  width: 80px;
}

.sub-quick-container {
  display: flex;
}

.sub-quick-container img {
  max-width: 400px;
}
.sub-quick-container .sub-info {
  padding: 15px;
}

.autoFilter {
  margin: auto;
}
.input-wrapper i {
  padding: 5px 10px;
}
.selectedGroup {
  background-color: #b78428;
}
.selectedGroup label {
  color: #fff;
}

.selectedGroup .product-num-input {
  visibility: visible;
}
.userDetail {
  display: grid;
}

.menu-item i,
.user-item i {
  color: rgb(47, 47, 255) !important;
  margin-top: 6px;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
.order-wrapper .bu-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}
.order-wrapper .col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  max-width: 450px;
}
.col span {
  padding: 0.2rem 0.8rem;
  background-color: var(--gold);
  border-radius: 9999px;
  font-size: 0.75rem;
  text-align: center;
  padding-right: 20px;
  position: relative;
  color: #111;
  width: 100px;
}
.col i {
  position: absolute;
  right: 2px;
  top: 2px;
}
.col .blue-check{
  position: unset;
}

.col small {
  overflow: hidden;
  width: 330px;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  color: #333;
}
.col p {
  width: 120px;
  overflow: hidden;

  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}
.newCol {
  display: flex;
  flex-direction: column;
  color: #111;
}
.orderNoCol {
  padding: 0.2rem 0.8rem;
  border: 2px solid var(--gold);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}
.crmAction {
  color: #fff;
  background-color: var(--dark-blue-main);
  padding: 0 10px 50px;
}
.taskAction {
  display: flex;
  gap: 10px;
}
.btn-crm {
  border-radius: 4px;
  padding: 3px 15px;
  border: none;
}
.btn-crm-accept {
  background-color: lightgreen;
}
.btn-crm-official {
  background-color: rgb(31, 31, 173);
  color: white;
}
.btn-crm-cancel {
  background-color: lightsalmon;
}
.btn-crm-edit {
  background-color: orange;
}
.doneTitle {
  border-left: 5px solid greenyellow;
}
.suspendTitle {
  border-left: 5px solid orange;
}

/* Print */
.userInfo {
  display: flex;
  min-height: 100px;
}
.printArea {
  width: 100%;
  direction: rtl;
  color: #212529;
}
.hesabfaTable {
  font-family: vazir;
  direction: rtl;
  border: 2px solid #333;
  border-radius: 8px;
  width: 90%;
  margin: auto;
  min-height: 100px;
}
.hesabfaTable tbody {
  margin: auto;
  padding: 0;
}
.hesabfaPrint {
}
.hesabfaRow {
  width: 95%;
  margin: auto;
}
.verticalRow {
  position: relative;
  width: 50px;
}
.hesabfaColor {
  background-color: #b9b9b9;
  border-radius: 0 8px 8px 0;
}
.hesabfaMainTable {
  font-family: vazir;
  border: 2px solid #333;
  width: 90%;
  margin: 6px auto;
  border-collapse: collapse;
}
.hesabfaMainTable td {
  border: 1px solid #333;
  padding: 2px 7px;
}
.hesabfaMainTable tbody {
  width: 100%;
}
.hesabfaMainTable th {
  border: 2px solid #333;
  background-color: #b9b9b9;
  padding: 5px 10px;
  font-size: 13px;
}
.centerCell {
  text-align: center;
}
.verticalRow h3 {
  position: absolute;
  transform: rotate(-90deg);
  top: 30px;
  left: -10px;
}
.hesabfaFooter {
  font-family: vazir;
  width: 90%;
  margin: 10px auto;
}
.priceSeprate {
  display: flex;
  justify-content: space-between;
}
.hesabfaPrice {
  display: grid;
  min-width: 200px;
}
.hesabfaPrice h3 {
  padding-bottom: 6px;
  border-bottom: 3px solid #333;
  line-height: 1;
  margin-bottom: 10px;
}
.hesabfaRight {
  display: grid;
  border-bottom: 2px solid #333;
}
.hesabfaSection {
  display: grid;
  margin: auto;
  width: 25%;
  text-align: center;
}
.hesabfaSection h4 {
  margin: 0 auto;
}
.hesabfaSection h1 {
  margin-bottom: 10px;
  white-space: nowrap;
}
.hesabfaSection small {
  margin: 3px 5px;
  display: flex;
  justify-content: flex-end;
}
.hesabfaSection b {
  border: 1px solid var(--main-color);
  padding: 0 10px;
  border-radius: 6px;
  width: 120px;
  margin: 0 10px;
}
.footerRows {
  display: flex;
  justify-content: space-between;
}
.footerHesabfa {
  display: flex;
  width: 70%;
  margin: 10px auto 20px 0;
  text-align: center;
  justify-content: space-around;
}
.hesabSection {
  display: grid;
  width: 90%;
  margin: auto;
}
.hesabBorder {
  border: 1px solid #222;
  display: flex;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 5px 0 0;
  justify-content: space-between;
}
.verticalRow small {
  position: absolute;
  transform: rotate(-90deg);
  top: 17px;
  left: -5px;
}
.hesabPrintTable {
  padding: 0;
  width: 90%;
  margin: 5px auto 0;
}
.hesabPrintTable .verticalRow {
  width: 30px;
}
.hesabSection .hesabfaSection {
  width: calc(100% - 0px);
}
.priceCell {
  width: 105px;
  max-width: 105px;
  font-size: 15px;
  text-align: center;
}
.sumTable {
  font-size: 12px;
}
.priceSwitcher {
  float: left;
  margin-left: 30px !important;
}
.priceSwitcher span {
  font-size: 11px;
}
.fishPrint .orderDataHolder {
  padding: 0;
  width: 100%;
}
.fishPrint .orderTable {
  padding: 0px;
  margin: 2px auto;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #111;
  border-radius: 5px;
}
.fishPrint .orderTable {
}
.fishPrintArea {
  max-width: 300px;
  margin: auto;
}

.userInfo {
  display: flex;
  min-height: 100px;
}
.userSection {
  display: grid;
  margin: auto;
}
.userSection small {
  margin: 3px 5px;
  display: flex;
  justify-content: flex-end;
}
.userSection b {
  border: 1px solid var(--main-color);
  padding: 0 10px;
  border-radius: 6px;
  width: 80px;
  margin: 0 10px;
}
/* official  print */
.print-container {
  width: 100%;
  padding-inline: 1rem;
}
.officialprint > * {
  font-size: 0.9rem;
}
.officialprint .hesabfaSection {
  width: calc(100% / 3);
  margin-block: auto 0;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1.5rem;
  }
  small {
    width: 50%;
    margin: 0;
    justify-content: space-between;

    b {
      margin-left: 0;
      border-radius: 0;
    }
  }
}

.officialprint .hesabfaDate {
  align-items: flex-end;
}
.officialprint .hesabfaTable {
  width: 100%;

  th {
    text-align: center;
    border: 1px solid black;
    background-color: #b9b9b9;
  }
  .hesabfaItem {
    padding-block: 0.6rem;
  }
  .site-link {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      direction: ltr;
    }
  }
}
.officialprint .hesabfaMainTable {
  width: 100%;
  margin: 0;
  border-top: none;

  th {
    border-top: none;
    background-color: transparent;
    text-align: center;
  }
  td {
    border-width: 2px;
  }

  .table-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5rem;

    p {
      margin: 0;
    }
  }
}
.officialprint .table-footer {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  .footer-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    > * {
      border: 1px solid black;
      height: 100%;
      display: flex;

      p {
        font-size: 0.85rem;
      }
    }
  }
  .pay-col {
    height: 50px;
    width: 35%;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-block: 0.5rem;

    p {
      margin: 0;
    }

    .pay-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      p {
        margin: 0;
      }
    }

    .pay-checkbox {
      display: block;
      width: 25px;
      height: 25px;
      border: 2px solid black;
    }
  }
  .bill-col {
    width: 65%;
    height: 50px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;

    p {
      margin: 0;
    }
    span {
      display: inline-block;
      min-width: 150px;
      text-align: center;
    }
  }
  .bank-col {
    width: 70%;
    flex-direction: column;
    padding: 1rem;
    height: 250px;
  }
  .info-col {
    width: 30%;
    height: 250px;
    display: block;
    position: relative;

    .float-title {
      position: absolute;
      top: 0;
      padding: 0.5rem;
      border: 1px solid black;
    }
  }
  .sign-col {
    width: 50%;
    height: 50px;
  }
}
.officialprint .bank-col .account-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.officialprint .bank-col .account-col {
  display: flex;
  flex-direction: column;

  .account-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    span {
      font-weight: 600;
      margin-right: 6px;
    }
  }
}

/* End Print */

.formal-btn {
  position: absolute;
  left: 170px;
  color: darkslateblue;
  background-color: skyblue;
  cursor: pointer;
  border-radius: 2px;
  padding: 7px 20px !important;
  bottom: 14px;
}
.card-form {
  padding: 1rem;
}
.customerTab {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.customerTab small {
  font-size: 13px;
  background-color: #fff;
  width: 50%;
  color: #002a54;
  text-align: center;
  padding: 3px;
  cursor: pointer;
}
.customerTab .active {
  background-color: var(--dark-blue-sec);
  color: #fff;
  cursor: initial;
}
.sharePart {
  display: flex;
}
.sharePart i {
  margin: 0px;
  padding: 8px 13px;
  height: 40px;
  border-radius: 17px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}
.sharePart i:hover {
  background-color: #eee;
}
.print-btn-crm {
  border: 1px solid gray;
  border-radius: 4px;
  height: 40px;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .fixed-plugin .card {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .order-wrapper .col {
    display: flex;
    flex-wrap: wrap;
  }
  .order-wrapper .col p {
    width: 100%;
  }
  .bu-name span {
    margin-left: 1%;
    min-width: 110px !important;
    display: initial;
    font-size: 12px !important;
    padding-right: 30px;
    width: 31%;
  }
  .border-title i {
    font-size: inherit !important;
  }
  .orderNoCol {
    position: absolute;
    bottom: 10px;
    left: 70px;
  }
  .newCol {
    flex-direction: initial;
    gap: 10px;
    margin: 5px 0;
  }
}

.switch-btn {
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.d-container{
  width: 100%;
  display: flex;
  gap:1rem;
}
.visitor-list {
  width: 30%;
  overflow: hidden;
  .cu-avatar {
    min-width: unset;
  }
  th{
    text-align: right;
    padding-right: 0.5rem;
  }
}
.Vorder-list{
  width: 70%;
  overflow: hidden;

  th{
    width: unset ;
    min-width: 60px;
    text-align: center !important;
  }
  td{
    text-align: center;
    min-width:60px;
    max-width: 200px;
    padding-inline: 0.5rem;
  }
}
.visitor-list{
  td{
    padding-inline: 0.5rem;
  }
}
.total-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding:0.5rem 1rem;

  p{
    margin: 0;
    color: black;
  }
}
.hover-tr{
  background-color: rgb(244, 246, 248);
}
/* mini sidebar */
.navbar-vertical.mini-sidebar{
  max-width: 7rem !important;

  .sidenav-header{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      margin: 0;
    }
    span{
      display: none;
    }
  }
  .nav-item{
    span{
      display: none;
    }
  }
}
.mini-arrow{
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 2rem;
  cursor: pointer;
}
.customer-header{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.discount-user-list{
  width: 100%;
}
.discount-list{
  width: 100%;
}
.table-tab {
  .slidemenu {
    border-radius: 1rem 1rem 0 0;
    padding: 0 6px;
  }
}
.discount-user-list {
  .grey {
    background-color: #dedede;
    border-radius: 1rem 1rem 0 0;
    height: 42.4px;
  }
}
.discount-page {
  .d-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    width: 100%;
  }
}
.discount-page .cu-avatar{
  min-width: unset;
}
.discount-page .phone-num{
  text-align: center;
}
.countCalculator{
    background-color: #002a54;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0 5px;
    color:#fff;
    line-height: 2;
    margin-bottom: 43px;
    cursor: pointer;
}
.orderCheck{
  padding: 5px;
  margin:5px;
  font-size: 20px;
  border-radius: 50%;
  width: 44px;
  font-weight: bold;
  height: 44px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 1px 1px 3px #333;
}
.activeCheck{
  color: #fff;
  background-color: green;
}
.orderButtonHolder{
  width: 100%;
  direction: ltr;
  margin: 10px 0;
}
.orderButton{
  background-color: #002a54;
  color: #fff;
  border: none;
  padding: 5px 35px;
  border-radius: 5px;

}
.odHeaderBtnHolder{
  flex-direction: initial;
  justify-content: space-between;
}
.regSepidar input{
  width: 200px;
  height: 45px;
  border-radius: 4px;
  background-color: lightgreen;
}
.cal-count{
  padding: 0.2rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #e53371;
  color: white;
}
.css-1lbgfbl-MuiResponsiveChart-container{
  width: 350px !important;
  height: 300px !important;
}