
.main-pad{
    padding-bottom: 50px;
    width: 100%;
}
.showPass{
    position: absolute;
    right:20px;
    cursor: pointer;
    top:5px
}
.showPassRTL{
    position: absolute;
    left:20px;
    cursor: pointer;
    top:5px
}

.input-group div{
    width: 100%;
}
.MuiInputBase-root{
    padding: 0 !important;
    min-height: 40px;
}
.MuiInputBase-root input{
    padding:8px 14px !important;
    font-family: vazir !important;
}
.MuiAutocomplete-popper div{
  font-family: vazir !important;

}
.price-input .MuiFormControl-root{
  width: 100%;
}
.MuiFormControl-root label{
    line-height: .8rem;
    color:rgba(0,0,0,.5);
    font-family: vazir;
    font-size: 12px;
    overflow: initial;
    background: #fff;
    padding: 2px 5px;
}
.filterComponent{
    min-width: 200px;
}
.DatePicker input{
    padding: 7px 0 !important;
    
}
::-webkit-scrollbar {
  width: 10px;
}
.holder{
    display: flex;

}
.collapseMenu{
    margin: auto 20px auto -20px;
}
.sidePart{
    display: block;
}
.mainPart{
    display: block;
}
@media(max-width:700px){
    .hideMobile{
        display: none !important;
    }
}



/*Overide*/
.statue-div div {
    margin: 0 8px;
}
.page-counter {
    direction: ltr;
}
.user-list td ,.cu-name p{
    text-align: initial;
}
.user-list th:nth-child(2){
    text-align: initial;
}
.user-list img{
  max-width: 100px;
}
.cu-avatar img {
    margin: auto 8px;
}
.dense-btn {
    width: 45%;
}
.sub-more-menu{
    display: inherit;
}
.formInput{
    margin:15px !important;
}
.footerFix{
    position: fixed;
  bottom: 0;
}
.text-white .nav-link{
    color:#fff !important;
}

.activeAccordion{
    background-color: azure;
}
.accordion{
    cursor: pointer;
}
.inlineRow{
    flex-direction: row;
    justify-content: initial;
}
.icon-lg i {
    top: 20%;
}
.me-2 {
    margin: auto 0.5rem !important;
}
.ps__rtl{
    direction: rtl;
}
.ps-4 {
    padding-right: 1.5rem !important;
}
.ms-2 {
    margin-right: 0.5rem !important;
}
.me-3 {
    margin-left: 1rem !important;
  }
  .DatePicker__input{
    font-size: 15px !important;
  border: 1px solid silver !important;
  border-radius: 4px;
  }
  .list-container{
    overflow: initial;
  }
  .-top{
    top: calc(100% + 20px) !important;
    bottom: auto !important;
  }
  .ms-md-right{
    margin-right: auto !important;
  }
  .checkBoxStyle{
    text-align: center !important;
  }
  .sub-avatar-container img {
    margin: 0 16px;
    height: 50px;
    object-fit: contain;
  }
  .cu-avatar{
    position: relative;
  }
  .cu-avatar i{
    position: absolute;
    right:0;
    top:0;
  }
  .user-statue {
    gap: 0 40px;
    flex-wrap: wrap;
  }
  .info-post{
    display: flex;
    justify-content: space-around;
  }
  .info-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .checkIcon{
    color: green;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .cancelIcon{
    color: orangered;
  }
  .checkIcon:hover{
    background-color: green;
    color: #fff;
  }
  .cancelIcon:hover{
    background-color: orangered;
  }
  .cu-info-wrapper img {
    margin-left: 16px;
  }
  .sub-order-table {
    background-color: #f4f6f8;
    padding:10px;
  }
  .sub-row {
    margin-bottom: 3px;
    background-color: #fff;
    border-radius: 10px;
  }
  .disableIcon{
    color:silver;
  }
  .errorHandler{
    position: fixed;
    top: 20px;
    left:0;
    background-color: rgba(255,255,255,.6);
    padding: 30px 100px;
    font-size: 20px;
    font-weight: bold;
  }
  .add-btn {
    color:#333;
    background-color: lightgreen;
  }
  .add-btn:hover {
    border-color: green;
    background-color: green;
    color:#fff;
  }
  .serviceItem{
    padding: 0.5rem 0;
    width: 100%;
    margin-top: 20px;
  }
  .serviceItem .MuiFormControl-root{
    width: 90%;
    margin-block: 10px;
    padding-left:1rem;
    
  }
  .popup-brand {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius:0 0 15px 15px;
    padding: 5px 10px;
    margin: auto;
  }

  dialog {
    position: fixed;
    border-radius: 0;
    display: block;
    top: 0;
    height: 100%;
    z-index: 10;
    width: 100%;
    background-color: rgba(0,0,0,.4);
  }
  .manageIcon{
    position: absolute;
    left: 10%;
    top: 10px;
    border: 1px solid silver;
    width: 30px;
    height: 40px;
    text-align: center;
    line-height: 2.5;
    border-radius: 3px;
  }
  .manageIconLtr{
    left:auto;
    right: 6%;
  }
  .manageIcon:hover{
    border-color: #333;
  }
  .price-input{
    position: relative;
  }
  .price-input .showPassRTL,.price-input .showPass{
    top:17px;
  }
  .sale-input input{
    margin:auto 5px;
  }
  .create-btn-wrapper p { width: 17%;}
  .halfWidth{
    width: 41%;
  }
  .fullWidth{
    width: 95%;
  }
  .regular-price i, .sale-price i, .tax-active-wrapper i {
    position: absolute;
    left: 15px;
    top: 25px;
    z-index: 10;
  }

  .cu-avatar img {
    height: 50px;
    object-fit: cover;
  }
  .contentTextEditor{
    padding-top: 50px;
    width: 100%;
  }
  .images{
    position: relative;
  }
  .images img{
    position: absolute;
    left: 10px;
    top:50px;
    width: calc(100% - 300px);
    max-height: 200px;
    object-fit: contain;
  }
  .imageHolder{
    width: 100%;
    margin-right:30px;
  }
  .phone-num{
    direction: ltr;
  }

  .sampleScroller{
    width: 200px;
    height: 300px;
    overflow-y: auto;
  }

  .boxTrack{
    left:2px;
    right: auto; 
    opacity: 0;
    position: absolute;
    width: 6px;
    transition: opacity 200ms ease 0s;
    bottom: 2px;
    top: 2px;
    border-radius: 3px
  }
  .boxThumb{
    background-color: #fff;
    border-radius:4px;
  }
  .box{
    position: absolute;
    inset: 0px;
    overflow: scroll;
    margin-left: -19px;
    margin-bottom: -19px;
    padding: 15;
  }
  .topMenu .nav-link {
    font-size: 1.2rem;
    padding: 0 7px !important;
  }
  .topMenu .nav-link i:hover {
    color: var(--bs-primary);
    transition: all .3s;
  }

  
  /* Profile */
  .profileRtl th{
    text-align: right;
  }
  .section-member{
    padding-right: 0;
  }
  .asso-btnRTL{
    margin-left: 10px;
    margin-right: auto;
  }
  .slideBar{
    width:45%;
    display: flex;
    margin: 0 10%;
  min-width: 200px;
  }
  .slideBarTitle{
    margin-top: -40px;
    font-size: 12px;
    
  }
  .disable-label{
    background: silver;
  }
  .settingSide{
    top:70px !important;
  }
  .info-wrapper div:nth-child(9) {
    width: initial;
  }
  .new-member{
    position: relative;
    width: fit-content;
    display: flex;
  }
  .addClassBtn{
    padding: 7px 12px;
    display: grid;
  }
  .addClassBtn:hover{
    color:rgb(89, 108, 255);
    cursor: pointer;
  }
  .main-setting{
    width: 100%;
  }
  .optionItem{
    display: flex;
    justify-content: space-around;
  }
.userItem{
  padding: 0.5rem 0;
  width: 100%;
  margin-top: 20px;
}
.userItem .MuiAutocomplete-root{
  width: 85% !important;
}
.newUser{
  width: 300px;
  margin-bottom: 20px;
}
.f-customer input{
  font-size: 15px;
}
/*.f-customer{
  position: relative;
  padding-left: 50px !important;
  padding-top: 8px;
}*/
.f-customer .MuiFormControl-root label{
  background: transparent;
}
.f-customer fieldset{
  border: transparent;
}
.view-btn-wrapper label{
  font-size: inherit;
  margin: auto;
}

.product-title p{
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
  max-width: 95%;
  margin: auto;
  font-weight: 400;
}

.product-img img{
  height: 120px;
  object-fit: contain;
}

.f-company{
  width: 100%;
  padding: 0.35rem .3rem;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
  background: var(--light-grey);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
  color: black;
  outline: none;
  border: none;
}
.f-company .MuiFormControl-root label{
  background: transparent;
}
.f-company fieldset{
  border: transparent;
}

.active-star{
  color: rgb(158, 0, 0) !important;
}
.roader img{
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.user-item{
  display: grid;
  color: #111;
}
.user-item small{
  font-size: 13px;
}
.user-item b{
  font-size: 14px;
}